/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wallet {
  background-color: #f7cd75;
  width: auto;
  padding: 60px 200px 120px;
  /* height: 550px; */
}

.my-electronic-wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Payment */
.payment {
  width: 400px;
  height: 560px;
  background-color: #f2f2f2;
  padding: 35px;
  overflow-y: scroll;
}

.payment-title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin-bottom: 50px;
}

.payment-title {
  font-family: 'Arial' , san-serif;
  font-style: normal;
  line-height: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #35373a;
  margin: 0;
  padding: 0;
}

.payment-title-plyus {
  width: 30px;
  height: 30px;
}

.payment-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.payment-item {
  border: solid 1px #00000040;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 10px;
}

.payment-item:nth-child(2) {
  -webkit-box-shadow: 0 0 0 2px #7b89c2 inset;
          box-shadow: 0 0 0 2px #7b89c2 inset;
}

.payment-item:hover {
  -webkit-box-shadow: 0 0 0 2px #7b89c2 inset;
          box-shadow: 0 0 0 2px #7b89c2 inset;
}

.payment-item:active {
  -webkit-box-shadow: 0 0 0 2px #7b89c2 inset;
          box-shadow: 0 0 0 2px #7b89c2 inset;
}

.payment-item-image {
  width: 80px;
  height: 50px;

}

.payment-item-card-number {
  font-family: 'Arial' , san-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #71767b;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
}

.payment-item-validity-period {
  font-family: 'Arial' , san-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #71767b;
  margin: 0;
  padding: 0;

}
/* Statistics */
.statisticis {
  width: 600px;
  height: 560px;
  background-color: #fff;
  padding: 40px;
  padding-top: 20px;
  overflow-y: scroll;
}

.statistics-title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.statisticis-title {
  font-family: 'Arial' , san-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.statisticis-span {
  font-family: 'Arial' , san-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.statisticis-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.statisticis-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
}

.static-item-content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics-item-image {
  width: 25px;
  height: 25px;
  border: solid 1px #00000050;
  border-radius: 50%;
  padding: 5px;
  margin-right: 20px;
}

.statisticis-item-content-connected-aparatus {
  font-family: 'Arial' , san-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.ststisticis-item-content-span {
  font-family: 'Arial' , san-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: black;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.statisticis-item-money-span {
  font-family: 'Arial' , san-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: right;
}

.out-money {
  color: #8696c5;
}

.in-money {
  color: #89ce5d;
}